.App {
  height: 100vh;
  background: rgb(0,74,255);
  background: -moz-linear-gradient(0deg, rgba(0,74,255,1) 0%, rgba(0,255,252,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(0,74,255,1) 0%, rgba(0,255,252,1) 100%);
  background: linear-gradient(0deg, rgba(0,74,255,1) 0%, rgba(0,255,252,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#004aff",endColorstr="#00fffc",GradientType=1);
  overflow-y: scroll;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px 0 30px;
}

.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: #001bff;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.submit-gif-button {
  background: -webkit-linear-gradient(left, #4e44ce, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-left: 10px;
}


.gif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

.gif-grid .gif-item {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-self: center;
  align-self: center;
}

.gif-grid .gif-item * {
  padding:0;
  margin:0
}

.gif-grid .gif-item .gif-footer {
  display: flex;
  justify-content: space-between;

}


.gif-grid .gif-item .gif-footer .gif-footer-button {
  background-color: rgb(1, 214, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.gif-grid .gif-item .gif-footer .gif-footer-button > * {
  pointer-events: none
}


.gif-item img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}


.connected-container input[type='text'] {
  display: inline-block;
  color: white;
  padding: 10px;
  width: 50%;
  height: 60px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  margin: 50px auto;
}
.connected-container input[type='text']::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.connected-container input[type='text']:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.connected-container input[type='text']::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}

.connected-container button {
  height: 50px;
}